body {
  background-color: #012146;
  font-family: "SF Pro Display Light", Helvetica, Arial, sans-serif;
}

/* Logo */
.main-logo-container {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Main Section */
@font-face {
  font-family: "fontThatTookMeTooLongToFind";
  font-style: normal;
  font-weight: normal;
  src: local("fontThatTookMeTooLongToFind"),
    url("./fonts/MorganPosterAvec-Bold.otf") format("truetype");
}

.main-section-container {
  background-color: #f8f8f8;
  padding-top: 20px;
  border-radius: 25px;
  width: 500px;
  margin: 0 auto;
}

.main-section-motive {
  font-family: fontThatTookMeTooLongToFind;
  font-size: 38px;
  padding-top: 10px;
  color: #464646;
}

.main-section-time {
  font-family: fontThatTookMeTooLongToFind;
  color: #878787;
}

.main-section-tip {
  color: #686868;
  font-size: 12px;
}
.main-section-buttons {
  padding-top: 30px;
}
.main-section-button {
  box-shadow: 0 0 3px #dddddd;
  color: #686868;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid #dddddd;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}
.main-section-buttons-notifyme-icon,
.main-section-buttons-deposit-icon {
  padding-right: 10px;
  padding-left: 5px;
}
.main-section-download {
  color: #686868;
  font-weight: 600;
}
.main-section-download-logos {
  padding-top: 20px;
  padding-bottom: 30px;
}
.main-section-download-logo {
  margin-right: 10px;
  margin-right: 10px;
}
/* The horizontal rule, because this is simpler and built in */
hr {
  width: 35%;
}

/* Bot navigation bar */
.bot-nav {
  width: 100%;
  background-color: #012146;
  border-radius: 15px;
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bot-nav-container {
  overflow-y: hidden;
  white-space: nowrap;
}
.bot-nav-link-container {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bot-nav-link-container > a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  color: #a1a1a1;
  border-right: 1px solid #a1a1a1;
  cursor: pointer;
}

.bot-nav-link-container:last-of-type a {
  border-right: unset;
}

/* Player images and info */
.player-images {
  margin-top: 20px;
}
.player-image {
  width: 60px;
  height: 60px;
  margin: -5px;
  position: relative;
  border: 2px solid white;
  background: #f5f5f5;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.player-data-main {
  display: inline-block;
}
.player-name {
  font-size: 10px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 767px) {
  .bot-nav {
    width: 400px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .bot-nav {
    width: 300px;
  }
}
