body {
  background-color: #012146;
  font-family: "SF Pro Display Light", Helvetica, Arial, sans-serif;
  justify-content: center;
}

/* Logo */
.main-logo-container {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Main Section */
@font-face {
  font-family: "fontThatTookMeTooLongToFind";
  font-style: normal;
  font-weight: normal;
  src: local("fontThatTookMeTooLongToFind"),
    url("./fonts/MorganPosterAvec-Bold.otf") format("truetype");
}

.main-section-container {
  background-color: #f8f8f8;
  padding-top: 20px;
  border-radius: 25px;
  width: 500px;
  margin: 0 auto;
}

.main-section-motive {
  font-family: fontThatTookMeTooLongToFind;
  font-size: 38px;
  padding-top: 10px;
  color: #464646;
}

.main-section-time {
  font-family: fontThatTookMeTooLongToFind;
  color: #878787;
}

.main-section-tip {
  color: #686868;
  font-size: 12px;
}
.main-section-buttons {
  padding-top: 30px;
}
.main-section-button {
  box-shadow: 0 0 3px #dddddd;
  color: #686868;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid #dddddd;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}
.main-section-buttons-notifyme-icon,
.main-section-buttons-deposit-icon {
  padding-right: 10px;
  padding-left: 5px;
}
.main-section-download {
  color: #686868;
  font-weight: 600;
}
.main-section-download-logos {
  padding-top: 20px;
  padding-bottom: 30px;
}
.main-section-download-logo {
  margin-right: 10px;
  margin-right: 10px;
}
/* The horizontal rule, because this is simpler and built in */
hr {
  width: 35%;
}

/* Bot navigation bar */
.bot-nav {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: #012044;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  display: flex;
  width: 710px;
  justify-content: center;
  font-size: 14px;
}

.bot-nav > div {
  padding: 10px 0px;
}

.bot-nav > div > a {
  color: #a1a1a1;
  border-right: 1px solid #a1a1a1;
  padding: 0px 10px;
  cursor: pointer;
}
.bot-nav > div:last-of-type a {
  border-right: unset;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: @screen-sm-min) {
  .body {
    background-color: red;
  }
}
